<launch>
    <node pkg="giskardpy" type="donbot.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [odom, gripper_tool_frame]
            - [ur5_shoulder_link, camera_link]
            - [odom, base_footprint]
        </rosparam>
    </node>

</launch>
