<launch>
    <node pkg="giskardpy" type="stretch_trajectory.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [base_link, camera_link]
            - [map, base_link]
            - [map, link_grasp_center]
        </rosparam>
    </node>


</launch>
