<launch>
    <arg name="debug_mode" default="False" />

    <node pkg="giskardpy" type="iai_hsr_mujoco.py" name="giskard" output="screen">
        <remap from="/robot_description" to="/hsrb4s/robot_description"/>
        <param name="debug_mode" value="$(arg debug_mode)" />
    </node>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
          - [odom, base_footprint]
          - [odom, head_rgbd_sensor_link]
          - [odom, hand_gripper_tool_frame]
        </rosparam>
    </node>

</launch>
