<launch>

  <include file="$(find tracebot_description)/launch/upload.launch"/>

  <node pkg="giskardpy" type="giskard.py" name="giskard" output="screen">
    <param name="config" value="Tracebot_StandAlone"/>
  </node>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [tracebot/tracebot_base_link, tracebot/tracebot_left_gripper_tool_frame]
      - [tracebot/tracebot_base_link, tracebot/tracebot_right_gripper_tool_frame]
    </rosparam>
  </node>

</launch>

