<launch>

  <node pkg="giskardpy" type="giskard.py" name="giskard" output="screen">
    <param name="config" value="PR2_IAIRealTime"/>
  </node>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom_combined, r_gripper_tool_frame]
      - [odom_combined, l_gripper_tool_frame]
      - [torso_lift_link, head_mount_kinect2_rgb_optical_frame]
    </rosparam>
  </node>

</launch>

