<launch>

  <node pkg="giskardpy" type="giskard_trees.py" name="giskard" output="screen" >
    <param name="config" value="$(find giskardpy)/config/boxy.yaml" />
  </node>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="interactive_marker_chains">
      - [odom, base_footprint]
      - [base_footprint, triangle_base_link]
      - [odom, neck_ee_link]
      - [base_footprint, left_gripper_tool_frame]
      - [base_footprint, right_gripper_tool_frame]
    </rosparam>
  </node>

</launch>
