<launch>

  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch"/>

  <node pkg="giskardpy" type="boxy_standalone.py" name="giskard" output="screen"/>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom, base_footprint]
      - [odom, triangle_base_link]
      - [odom, neck_ee_link]
      - [base_footprint, left_gripper_tool_frame]
      - [odom, left_gripper_tool_frame]
      - [odom, right_gripper_tool_frame]
      - [left_gripper_base_link, left_gripper_finger_left_link]
   </rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" />

</launch>

