<launch>

    <param name="robot_description" command="xacro $(find stretch_description)/urdf/stretch_description_dex.xacro" />

    <node pkg="giskardpy" type="stretch_standalone.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [map, link_grasp_center]
            - [map, base_link]
        </rosparam>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz"/>

</launch>
