<launch>

  <arg name="gui" default="false" />

  <node pkg="giskardpy" type="giskard_trees.py" name="giskard" output="screen">
    <param name="path_to_data_folder" value="$(find giskardpy)/data" />
    <param name="enable_gui" value="$(arg gui)"/>
    <rosparam command="load" file="$(find giskardpy)/config/pr2.yaml"/>
    <!-- <remap from="/whole_body_controller/follow_joint_trajectory/" to="/whole_body_controller/follow_joint_trajectory/base/"/> -->
    <!-- <remap from="~state" to="/whole_body_controller/base/state"/> -->
  </node>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom_combined, r_gripper_tool_frame]
      - [odom_combined, l_gripper_tool_frame]
      - [odom_combined, base_footprint]
    </rosparam>
  </node>

</launch>
