<launch>

    <node pkg="giskardpy" type="giskard_tiago.py" name="giskard" output="screen" />

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [map, gripper_left_grasping_frame]
            - [map, gripper_right_grasping_frame]
            - [map, xtion_link]
            - [map, base_footprint]
        </rosparam>
    </node>

    <node pkg="giskardpy" type="move_base_simple_goal_diff_drive.py" name="move_base" output="screen" />

</launch>
