<launch>

  <node pkg="giskardpy" type="giskard.py" name="giskard" output="screen">
    <param name="config" value="TracyReal"/>
  </node>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [tracy/world, left_flange]
      - [tracy/world, right_flange]
    </rosparam>
  </node>

</launch>

