<launch>

    <include file="$(find iai_donbot_description)/launch/upload.launch"/>

    <node pkg="giskardpy" type="donbot_standalone.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [iai_donbot/odom, iai_donbot/gripper_tool_frame]
            - [iai_donbot/ur5_shoulder_link, iai_donbot/camera_link]
            - [iai_donbot/odom, iai_donbot/base_footprint]
        </rosparam>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" />

</launch>
