<launch>

  <node pkg="giskardpy" type="giskard_pr2_real_time.py" name="giskard" output="screen"/>

  <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
    <rosparam param="enable_self_collision">False</rosparam>
    <rosparam param="interactive_marker_chains">
      - [odom_combined, r_gripper_tool_frame]
      - [base_footprint, l_gripper_tool_frame]
      - [odom_combined, base_footprint]
      - [odom_combined, head_mount_kinect2_rgb_optical_frame]
    </rosparam>
  </node>

</launch>
