<launch>

    <node pkg="giskardpy" type="iai_hsr_real_time.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
          - [odom, base_footprint]
          - [odom, head_rgbd_sensor_link]
          - [odom, hand_palm_link]
        </rosparam>
    </node>

</launch>
