<launch>
  <node pkg="giskardpy" type="ros_trajectory_controller_main.py" name="giskard" output="screen">
    <rosparam param="enable_gui">False</rosparam>
    <rosparam param="map_frame">map</rosparam>
    <rosparam param="root_link">base_footprint</rosparam>
    <rosparam param="enable_collision_marker">True</rosparam>
    <rosparam param="interactive_marker_chains">
      - [base_link, r_gripper_tool_frame]
      - [base_link, l_gripper_tool_frame]
    </rosparam>
  </node>
  <node pkg="giskardpy" type="init_chain.py" name="init_chain">
    <rosparam param="roots">
      - base_link
      - base_link
      - base_link
    </rosparam>
    <rosparam param="tips">
      - r_gripper_tool_frame
      - l_gripper_tool_frame
      - torso_lift_link 
    </rosparam>
    <!-- 2 = TRANSLATION_3D; 3 = ROTATION_3D -->
    <rosparam param="types"> 
      - [2, 3]
      - [2, 3]
      - [2, 3]
    </rosparam>
  </node>
</launch>
