<launch>

    <arg name="gui" default="False"/>
    
    <node pkg="giskardpy" type="joint_trajectory_splitter.py" name="joint_trajectory_splitter" output="screen">
        <rosparam param="state_topics">
            - /whole_body_controller/base/state 
            - /whole_body_controller/body/state
        </rosparam>
        <rosparam param="client_topics">
            - /whole_body_controller/base/follow_joint_trajectory
            - /whole_body_controller/body/follow_joint_trajectory
        </rosparam>
    </node>

    <node pkg="giskardpy" type="giskard_trees.py" name="giskard" output="screen">
        <param name="path_to_data_folder" value="$(find giskardpy)/data" />
        <param name="enable_gui" value="$(arg gui)"/>
        <rosparam command="load" file="$(find giskardpy)/config/donbot.yaml" />
    </node>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [odom, gripper_tool_frame]
            - [ur5_shoulder_link, camera_link]
        </rosparam>
    </node>

</launch>
