<launch>

  <arg name="use_mimic_tags" default="true" />
  <arg name="use_smallest_joint_limits" default="false" />
  <arg name="collision_distance" default="0.1" />
  <arg name="slider_resolution" default="0.01" />

  <node pkg="giskardpy" type="joint_goal_publisher.py" name="joint_goal_publisher" output="screen">
    <param name="path_to_data_folder" value="$(find giskardpy)/data/pr2" />
    <param name="use_mimic_tags" value="$(arg use_mimic_tags)"/>
    <param name="use_smallest_joint_limits" value="$(arg use_smallest_joint_limits)"/>
    <param name="collision_distance" type="double" value="$(arg collision_distance)"/>
    <param name="slider_resolution" type="double" value="$(arg slider_resolution)"/>
  </node>

</launch>
