<launch>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="dummy_pr2_sim" >
    <param name="use_gui" value="True" />
    <remap from="/joint_states" to="/dummy_pr2/joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="dummy_pr2_tf" >
    <param name="tf_prefix" value="dummy_pr2" />
    <remap from="/joint_states" to="/dummy_pr2/joint_states" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="dummy_pr2_loc"
        args="1 2 0 0.707 0 0 map dummy_pr2/base_footprint 100" />
</launch>
