<launch>
  <arg name="robot_name_a" default="pr2_a" />
  <arg name="robot_name_b" default="pr2_b" />
  <group ns="$(arg robot_name_a)">
    <remap from="/robot_description" to="/$(arg robot_name_a)/robot_description" />
    <include file="$(find iai_pr2_sim)/launch/ros_control_sim_with_base.launch">
      <arg name="tf_prefix" value="$(arg robot_name_a)/" />
    </include>
  </group>
  <group ns="$(arg robot_name_b)">
    <remap from="/robot_description" to="/$(arg robot_name_b)/robot_description" />
    <include file="$(find iai_pr2_sim)/launch/ros_control_sim_with_base.launch" >
      <arg name="tf_prefix" value="$(arg robot_name_b)/" />
    </include>
  </group>
</launch>
