name: CI unit tests
defaults:
  run:
    shell: bash -ieo pipefail {0}
on:
  push:
    branches:
      - master
#      - devel
  pull_request:
    branches:
      - master
      - devel
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          path: 'ros_ws/src/giskardpy'
          repository: SemRoCo/giskardpy
      - name: Checkout giskard msgs
        uses: actions/checkout@v3
        with:
          path: 'ros_ws/src/giskard_msgs'
          repository: SemRoCo/giskard_msgs
      - name: Checkout qpoases
        uses: actions/checkout@v3
        with:
          path: 'ros_ws/src/qpOASES'
          repository: SemRoCo/qpOASES
          ref: noetic
      - name: Checkout iai_pr2
        uses: actions/checkout@v3
        with:
          path: 'ros_ws/src/iai_pr2'
          repository: code-iai/iai_pr2
          ref: mujoco_sim_setup
      - name: Checkout iai_maps
        uses: actions/checkout@v3
        with:
          path: 'ros_ws/src/iai_maps'
          repository: code-iai/iai_maps
          ref: master
      - name: Setup Giskard workspace
        uses: betwo/github-setup-catkin@master
        env:
              ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          # Version range or exact version of ROS version to use, using SemVer's version range syntax.
          ros-version: noetic
          build-tool: 'catkin_tools'
          # Root directory of the catkin workspace
          workspace: $GITHUB_WORKSPACE/ros_ws
      - name: install pip dependencies
        run: pip3 install -r ros_ws/src/giskardpy/requirements.txt
      - name: build Giskard
        run: |
          cd ros_ws
          touch src/iai_pr2/iai_pr2_sim/CATKIN_IGNORE
          touch src/iai_pr2/iai_pr2_donbot/CATKIN_IGNORE
          catkin build
          echo 'export ROS_HOSTNAME=localhost' >> ~/.bashrc
          echo 'source $GITHUB_WORKSPACE/ros_ws/devel/setup.bash' >> ~/.bashrc
      - name: start roscore
        run: |
          roscore &
      - name: casadi wrapper
        run: |
          roscd giskardpy
          python3 -m pytest -s test/test_cas_wrapper.py
      - name: test godmap
        run: |
          roscd giskardpy
          python3 -m pytest -s test/test_god_map.py
  #    - name: Setup upterm session
  ##      if: always()
  #      if: failure()
  #      uses: lhotari/action-upterm@v1
